.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color2);
    height: 40vh;
}
/* main */
.card{
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(6, 31, 110, 0.342);
    overflow: hidden;

}
.blog-section{
    margin-top: -100px;
}
.blog-img{
    height: 20vh;
}
.card-title{
    color: white;
}
.card-text{
    color: white;
    width: 60%;
}
.read-btn{
    padding: 5px 10px !important;
}


/* sub blog section */
.blog-imges{
    height: 40vh;
    position: relative;
    background-color: rgba(116, 103, 103, 0.822);
    border-radius: 10px;
    z-index: 10;
}
.blog-imges::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/blog-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    opacity: 0.7;
    z-index: -1;
    border-radius: 10px;
    overflow: hidden;
}
.blog-img1{
    height: 30vh;
    width: 30%;
    background-image: url(../images/blogimg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -50px;
    left: -25px;
    border-radius: 10px;
    overflow: hidden;
}
.blog-img2{
    height: 30vh;
    width: 30%;
    background-image: url(../images/blogimg2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
    right: 25px;
    border-radius: 10px;
    overflow: hidden;
}


/* blog section */
.blog-card-img{
    background-image: url(../images/blog1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
}
.blog2{
    background-image: url(../images/blog2.jpg);
}
.blog3{
    background-image: url(../images/blog3.webp);
}
.blog4{
    background-image: url(../images/blog4.jpg); 
}
.blog-name{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width:fit-content
}
.blog{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px 2px 8px 0px #314a8e8f;
    transition: all 0.4s ease-in-out;
}
.blog:hover{
    transform: scale(1.05); /* scale both X and Y equally */
    box-shadow: 0 5px 15px rgba(49, 74, 142, 0.603);
    transition: all 0.4s ease-in-out;
}
.blog:hover .details{
    background: var(--primary-color);
    color: white;
}
.blog-text {
  padding: 10px;
  height: 200px;               /* keeps card consistent height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;       /* limit text lines */
  -webkit-box-orient: vertical;
  color: #333;
}

.blog-text .details {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  align-self: flex-start;
  transition: 0.3s;
}

.blog-text .details:hover {
  text-decoration: underline;
}
.more-blog-btn {
  position: relative;
  background: linear-gradient(90deg, transparent 20%, var(--primary-color) 50%);
  background-size: 210%;
  background-position-x: 0%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease-in-out; 
  width: fit-content;
}

.more-blog-btn:hover {
  background-position-x: 100%;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.247);
}
