.product-details-banner{
    background: var(--background-color2);
}

/* product-setails main section start here */
.warranty-support{
    background: var(--background-color2);
    padding: 1rem 0;
}
.item-detail-image{
    object-fit: cover;
    width: 100%;
    height: auto;
    overflow: visible !important;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(6, 31, 110, 0.342);
    object-position: center;
    position: relative;
    z-index: 1;
}
.fetchers{
    border-right: 1px solid var(--primary-color);
}
.fetchers-text{
    color: var(--primary-color);
}
.replacement{
    border: none !important;
}
.sub-img{
    width: 150px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
    bottom: -3rem;
    border-radius: 5px;
    overflow: hidden;
}
.sub-img-middle{
    left: 40%;
}
.sub-img-first{
    left: 10%;
}
.sub-img-last{
    right: 10%;
}


.spacifice-part{
    width: 70px;
    height: 70px;
    background: url(../images/asidebar-image.png);    
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    box-shadow: 7px 4px 13px 1px rgba(2, 14, 54, 0.61);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.spacifice-part-details{
    width: 60%;
}