.product-details-banner{
    background: var(--background-color2);
}
.heading-text{
    color: var(--primary-color);
}

/* product-setails main section start here */
.warranty-support{
    background: var(--background-color2);
    padding: 1rem 0;
}
.item-detail-image{
    object-fit: cover;
    width: 100%;
    height: auto;
    overflow: visible !important;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(6, 31, 110, 0.342);
    object-position: center;
    position: relative;
    z-index: 1;
}
.fetchers{
    border-right: 1px solid var(--primary-color);
}
.fetchers-text{
    color: var(--primary-color);
}
.replacement{
    border: none !important;
}
.sub-img{
    width: 150px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
    bottom: -3rem;
    border-radius: 5px;
    overflow: hidden;
}
.sub-img-middle{
    left: 40%;
}
.sub-img-first{
    left: 10%;
}
.sub-img-last{
    right: 10%;
}


.spacifice-part{
    width: 70px;
    height: 70px;
    background: url(../images/asidebar-image.png);    
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    box-shadow: 7px 4px 13px 1px rgba(2, 14, 54, 0.61);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.type-of-features{
    width: 76%;
     margin: auto; 
}
.spacifice-part-details{
    width: 87%;
}
.typeof-features{
    margin: auto; 
    width: 76%;
}

/* Features section start here  */
.features{
    width: 80%;
}
.feature-icon{
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-icon img {
  width: 100%;
  height: auto;
  border: 2px solid var(--background-color2) ;
  border-radius: 100px;
}

.more-product-image{
    height: 200px;
    overflow: hidden;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(6, 31, 110, 0.342);
}
.product-name{
    color: black;
    display: inline-flex;
    gap: 20px;
}
